{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="container">
    <div class="row">
        {{#each works}}
        <div class="col-sm-4">
            <a href="/works/details/{{_id}}"><img class="indexImage" src="{{imageUrl}}" alt="imagen"></a>
            <h3>{{title}}</h3>
            <p>{{descriprion}}</p>
            <p> Artista: <a href="/users/profile/{{user._id}}">{{user.username}}</p></a>
            <p>{{price}}€</p>
        </div>
        {{/each}}
    </div>
</div> --}}




<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="container">
    <div class="row" id="works">
       
        
      
    </div>
</div>


    <h1>Montañas rusas que flipas</h1>

    <button id="getWorks">Obtener obras de arte</button>

    <ul id="works"></ul>

    <script>

       window.onload = () => {

            fetch('http://localhost:3000/works/api')
                .then(res => res.json())
                .then(response => {
                    html = ''
                    shuffle(response)
                    response.forEach(elm =>          
                        
                     html += `<div class="col-sm-4">
            <a href="/works/details/${elm._id}"><img class="indexImage" src="${elm.imageUrl}" alt="imagen"></a>
            <h3>${elm.title}</h3>
            <p>${elm.description}</p>
            <p> Artista: <a href="/users/profile/${elm.user}">${elm.author}</p></a>
            <p>${elm.price}€</p>
        </div>`)
                    document.querySelector('#works').innerHTML = html
                })
        }



//Función para randomizar el array con las obras que se mostrarán en el index

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}



    </script>

