<h1>DETALLES DE OBRA</h1>

{{imageUrl}}

<div class="container">
    <h2> {{work.title}} </h2><br><br>
    <img style="width: 500px; margin:20px" src="{{work.imageUrl}}" alt="obra"></img>
    <article> Description: {{work.description}}</article>
    <p> Author: {{work.author.username}}</p>
    <p> Tematica: {{work.tematica}}</p>
</div>

