{{#each works}}
<h2>title: {{title}}  || author: {{author.username}}</h2><br>
<p>temática: {{tematica}}</p>

<img style="height: 70px;" src="{{imageUrl}}" alt="User image profile"><br><br>
<a href="/works/details/{{id}}"> Ver detalles de obra</a>
{{/each}}
