<h1>AQUI SE VERIAN LAS OBRAS DEL ARTISTA LOGGEADO</h1><br><br>
{{#each worksUser}}
<p>Author: {{author}}</p>
<li>title: {{title}}</li>
<img style="width: 200px;" src="{{imageUrl}}" alt="{{description}}">
<li>description: {{description}}</li>
<a href="/works/{{id}}/delete"> delete works</a>
<a href="/works/{{id}}/edit"> edit works</a><br><br>
{{/each}}
<a href="/works"> Go back</a>
