<div class="container">



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Image</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <th scope="row"><a href="/users/profile/{{_id}}">+</a></th>
      <td>{{username}}</td>
      <td><img class="userListImage" src="{{imageUrl}}" alt=""></td>
      <td><a class="btn btn-outline-danger" href="/users/delete/{{_id}}">Eliminar</a>
      <a class="btn btn-outline-primary" href="/users/edit/{{_id}}">Editar</a></td>

    </tr>
    {{/each}}
     </tbody>
</table>

</div>